/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: 'Montserrat','Helvetica Nue', sans-serif;
    background-color: #F6F5F3;
    
}

h1 {
    color: #FF9614;
    text-shadow: 1px 1px 2px grey;
    font-family: 'Nerko One', 'cursive';
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

.recipe {
    padding: 30px;
}

.fa-star,
.fa-blender,
.fa-clock,
.fa-chart-pie,
.fa-euro-sign,
.fa-thumbtack {
    color: #FF9614;
}

img {
    width: 100%;
}


/* Utils */

.container {
    margin: 0 auto;
    max-width: 1080px;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.flex {
    display: flex;
}

.col-80 {
    flex-basis: 80%;
}

.col-20 {
    flex-basis: 20%;
}

.col-50 {
    flex-basis: 50%;
    padding: 10px;
}


/* Navbar */

.navbar {
    height: 80px;
    background-color: white;
    text-align: center;
    line-height: 80px;
}

/* Recipe Section */

.recipe-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-category {
    color: rgb(168, 168, 168);
    text-transform: uppercase;
    font-weight: normal;
}

.recipe-name {
    color: #4e3969;
    font-weight: bold;
    font-size: 2rem;
}

.rate {
    color: white;
    padding: 10px 17px;
    background-color: #FF9614;
    border-radius: 20px;
    font-weight: bold;
    margin: 0px 20px;
    font-size: 1.2rem;
}

.recipe-rating {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    padding-top: 20px; 
}

.recipe-origin {
    display: none;
}

/* Reciper Card */

.recipe-card {
    background-color: white;
    box-shadow: 0 5px 10px rgba(45, 34, 60 / 12%);
    border-radius: 10px;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.recipe-video {
    width: 100%;
}


.recipe-info {
    width: 100%;
    padding: 30px;
}

.recipe-type {
    width: 100%;
    padding: 20px;
    background-color: #F6F5F9;
    margin-bottom: 30px;
}

/* Recipe Info */


.recipe-info ul {
    list-style-type: none;
    line-height: 2.3;
}

.kcal {
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}

.text-calories {
    color: white;
    padding: 4px 7px;
    background-color: #7C69A4;
    border-radius: 5px;
}

.text-info {
    color: #FF9614;
    font-weight: bold;
    font-size: 1.3rem;
}

.text-type {
    text-transform: uppercase;
}

/* Social Network */

.social-networks{
    justify-content: space-around;
}

.social-networks button {
    box-shadow: 0 5px 10px grey;
}

.btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.label {
    display: none;
}

/* ads */

.ads {
    display: none;
    margin: 30px auto;
}

/* Presentation */

h3 {
    margin-top: 40px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: normal;
}

hr {
    background-color: #FF9614;
    border: 0;
    height: 2px;
    width: 15%;
    margin-bottom: 20px;
}

.description {
    text-align: left;
    margin-bottom: 20px;
}

.description img {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px 0.5;
}

p {
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer */

.nav-footer {
    min-height: 80px;
    background-color: #7C69A4;
    padding: 20px;
    text-align: center;
    color: white;
}

address a {
    color: white;
    font-weight: bold;
}

address {
    line-height: 2;
}

.nav-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 19px;
    text-decoration: underline;
    margin-top: 10px;
}




